* {
    box-sizing: border-box;
    text-align: center;
    background: #777;
    font-family: Arial, Helvetica, sans-serif
  
  }
  
  body {
  }
  
  header {
    padding: 20px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
  }
  
  nav {
    padding: 20px; 
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
  }
  
  
  section {
    background-color: #ebebeb;
    margin-top:20px;
    height:260px;
    width:48%;
    z-index:1;
    position:relative;
    float: left;
    color: #777;
    padding:10px;
  }
  
  article {
    background-color: #777;
    z-index:2; 
    width:96%;
    height:170px;
    float: left;
    left:12px;  
    position:relative;
    padding:30px;
    top:40px;
    color:#ebebeb;
  
  }

  #headers  {
    background-color: #ebebeb;
    z-index:3; 
    width:80%;
    height:20px;
    float: left;
    left:60px;  
    position:relative;
    padding:20px;
    bottom:60px;
    color:#777;
    font-weight:bolder;
  }
  
  #paras  {
    background-color: #ebebeb;
    z-index:3; 
    width:80%;
    height:20px;
    float: left;
    left:60px;
    bottom:55px; 
    position:relative;
    padding:20px;
    color:#777;
  }



  aside {
    background-color:#ebebeb;
    width:48%;
    height:260px;
    float:right;
    position:relative;
    padding:20px;
    top:20px;
    color:#777;
  
  }
  
  footer {
    color: #777;
    background-color:#ebebeb;
    width: 1258px;
    height:65px;
    padding:20px;
    margin-top:40px;
    float:left;
  }
  